html,body{
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

#page-header{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    height: 130px;
    border-bottom: 4px solid #c5be6a;
    display: flex;
    justify-content: space-between;
}

#page-body{
    padding: 10px 30px;

}

#logo{
    width: 120px;
    height: 120px;
    filter: drop-shadow(4px 5px 5px rgba(0,0,0,0.7));
    filter: brightness(10);
}

#navigation{
    display: flex;
    gap: 10px;
    margin-top: 13px;
    margin-right: 12px;
}

#navigation button{
    font-size: 15px;
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    color: white;
    height: 25px;
    width: 150px;
    font-family: 'Cinzel', serif;
    font-size: 15px;
}

#navigation button:hover{
    background: rgba(255, 255, 255, 0.2); /* more visible */
    backdrop-filter: blur(16px);
    transform: scale(1.05); /* bubble expand */
    box-shadow: 0 8px 25px rgba(143, 142, 142, 0.189), /* glow */
    inset 0 0 10px rgba(255, 255, 255, 0.2); /* inner shine */
}

.cards-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px; 
    margin-top: 50px;
    padding: 0 10px; 
}

.card-text{
    color: black;
    border: 2px solid #bd9860;
    background-color: white;
    border-radius: 5px;
    display: inline-block;
    width: 320px;
    height: 220px;
    margin-left: 11px;
    margin-top: 10px;
    padding: 3px;
    overflow: clip;
}

.card-text:hover{
    background-color: rgb(244, 234, 225);
}

.card{
    background-color: #7f944eff;
    border-radius: 5px;
    border: 1.5px solid #616b40;
    top: 180px;
    left: 10px;
    width: 350px;
    height: 300px
}

.card:hover{
    background-color: #596534;
}

.loading-container{
    font-size: 50px;
}
